# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# build artifacts
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# IDE
.vscode/
.idea/
